# CHALLENGE II

### Empezamos inspeccionando el fichero de trabajo y subimos progresos a Github

In [2]:
!pwd

/Users/NachoSJ

In [3]:
!ls -l

total 126064
-rw-r--r--    1 NachoSJ  staff        72  5 jun 17:44 20170605_Challenge_PY_II.ipynb
drwxr-xr-x    5 NachoSJ  staff       170 27 mar 21:44 Banca Online
drwx------@  49 NachoSJ  staff      1666 19 abr 22:17 Desktop
drwx------@   9 NachoSJ  staff       306 25 abr 00:01 Documents
drwx------+ 141 NachoSJ  staff      4794  5 jun 17:18 Downloads
drwx------@  66 NachoSJ  staff      2244 27 mar 21:37 Library
drwxr-xr-x    6 NachoSJ  staff       204  8 mar  2015 Mixed in Key
drwx------+   3 NachoSJ  staff       102  5 abr  2014 Movies
drwx------+   9 NachoSJ  staff       306  9 may  2015 Music
drwx------+   9 NachoSJ  staff       306 18 may  2016 Pictures
drwxr-xr-x+   5 NachoSJ  staff       170  5 abr  2014 Public
drwxr-xr-x    3 NachoSJ  staff       102 17 may  2015 Recetas
-rw-r--r--    1 NachoSJ  staff  32280576  2 may  2014 Renta2013_macos_1_20.dmg
-rw-r--r--    1 NachoSJ  staff  32258048  7 jun  2014 Renta2013_macos_1_21.dmg
drwxr-xr-x    4 NachoSJ  staff       136  6 jul  2015 Soulseek Chat Logs
drwxr-xr-x    5 NachoSJ  staff       170 16 feb  2016 Soulseek Downloads
drwxr-xr-x    3 NachoSJ  staff       102 20 ene  2015 Traktor LE
drwxr-xr-x    4 NachoSJ  staff       136  9 may  2015 Traktor Pro2
drwxr-xr-x   16 NachoSJ  staff       544  9 may  2015 Traktor Remix Decks
drwx------    5 NachoSJ  staff       170 21 abr 17:34 VirtualBox VMs
drwxr-xr-x   28 NachoSJ  staff       952  5 jun 17:42 anaconda
drwxr-xr-x    4 NachoSJ  staff       136  5 jun 17:33 nuevo_repo
drwxr-xr-x    3 NachoSJ  staff       102 27 feb 20:41 tmp

In [4]:
cd Documents/KSchool/Master\ DS\ IV

/Users/NachoSJ/Documents/KSchool/Master DS IV

In [5]:
!pwd

/Users/NachoSJ/Documents/KSchool/Master DS IV

In [7]:
!ls -l

total 69448
-rw-r--r--   1 NachoSJ  staff    110842 19 may 21:53 20170515_Challenge_Preparacion.ipynb
-rw-r--r--   1 NachoSJ  staff    232331 23 may 23:12 20170519_Challenge_Correccion.ipynb
-rw-r--r--   1 NachoSJ  staff     14350 24 may 23:01 20170519_Challenge_Ejercicio 5.ipynb
-rw-r--r--   1 NachoSJ  staff      3499 24 may 22:57 20170519_Challenge_Ejercicio 5_continuacion.ipynb
-rw-r--r--   1 NachoSJ  staff    152711 20 may 14:22 20170520_Challenge_Ejercicio 3.ipynb
-rw-r--r--   1 NachoSJ  staff     57703 20 may 14:05 20170520_Challenge_Ejercicio 5.ipynb
drwxr-xr-x   9 NachoSJ  staff       306 27 mar 21:31 2017_03_24
drwxr-xr-x   5 NachoSJ  staff       170 14 may 23:34 2017_03_25
drwxr-xr-x   5 NachoSJ  staff       170 24 abr 22:19 2017_03_31
drwxr-xr-x   7 NachoSJ  staff       238 24 abr 22:21 2017_04_01
drwxr-xr-x   7 NachoSJ  staff       238 24 abr 22:15 2017_04_07
drwxr-xr-x   6 NachoSJ  staff       204 24 abr 22:15 2017_04_08
drwxr-xr-x   2 NachoSJ  staff        68 24 abr 22:07 2017_04_21
drwxr-xr-x  14 NachoSJ  staff       476 30 abr 23:35 2017_04_22
drwxr-xr-x   4 NachoSJ  staff       136  6 may 09:09 2017_05_05
drwxr-xr-x   5 NachoSJ  staff       170  9 may 22:32 2017_05_06
drwxr-xr-x  10 NachoSJ  staff       340 22 may 23:04 2017_05_19
drwxr-xr-x   5 NachoSJ  staff       170 26 may 16:45 2017_05_26
drwxr-xr-x@ 18 NachoSJ  staff       612  2 jun 21:53 2017_06_02
-rw-r--r--@  1 NachoSJ  staff    125889 16 abr 12:58 DataScience_introducción a la programació con Python_sergiosimon.docx
-rw-r--r--@  1 NachoSJ  staff   3326295 30 mar 19:17 Guía del Alumno_DS.pdf
-rw-r--r--@  1 NachoSJ  staff    385855  1 may 15:21 Halevy,Norvig,Pereira- The Unreasonable Effectiveness of Data.pdf
drwxr-xr-x   7 NachoSJ  staff       238 19 may 17:15 PY Challenge
drwxr-xr-x   4 NachoSJ  staff       136  5 jun 17:20 PY Challenge II
-rw-------@  1 NachoSJ  staff     41649  3 jun 13:44 R Studio.xlsx
-rw-r--r--@  1 NachoSJ  staff     43794 27 may 11:36 Resumen Linea de Comandos.xlsx
drwxr-xr-x   3 NachoSJ  staff       102 19 abr 23:53 Shared Folder_Fedora
drwxr-xr-x   8 NachoSJ  staff       272 27 may 08:59 Web Scraping
drwxr-xr-x  68 NachoSJ  staff      2312 24 mar 18:03 books
-rw-r--r--@  1 NachoSJ  staff  31030191  1 may 00:09 machine-learning.pdf
-rw-------@  1 NachoSJ  staff       171  5 jun 17:37 ~$Resumen Linea de Comandos.xlsx

In [8]:
cd PY\ Challenge\ II

/Users/NachoSJ/Documents/KSchool/Master DS IV/PY Challenge II

In [9]:
!ls -l

total 754216
-rw-r--r--@ 1 NachoSJ  staff  386158267  5 jun 17:18 marketing_pax.csv.bz2

In [13]:
path_to_data = '/Users/NachoSJ/Documents/KSchool/Master DS IV/PY Challenge II/marketing_pax.csv.bz2'

In [15]:
import pandas as pd

In [17]:
marketing = pd.read_csv(path_to_data, sep = '^', nrows = 1000)

In [31]:
pd.set_option('display.max_columns', None)

In [32]:
marketing.head()

,rloc,full_name,gender,age,date_of_birth,document_type,document_number,document_country,nationality,fqtv_data,general_status,boarding_status,acceptance_status,bag_status,customer_accepted,checkin_location,boarded_in_all_legs_flag,cabin_code,booking_class_code,airline_code,flight_number,departure_date_leg,quality_index,creation_date,advance_purchase,creator_office_id,creator_iata_number,creator_gds_code,creator_city_code,creator_lat,creator_lon,creator_country_code,creator_continent_name,creator_channel_code,booking_status_code,cabin_code_seg,booking_class_code_seg,pos_office_id,pos_iata_number,pos_gds_code,pos_city_code,pos_lat,pos_lon,pos_country_code,pos_continent_code,pos_channel_code,board_point,board_lat,board_lon,board_country_code,board_continent_code,off_point,off_lat,off_lon,off_country_code,off_continent_code,distance_seg,route,network,airline_code_seg,flight_number_seg,flight_type,revenue_amount_seg,emd_count,emd_amount,fuel_surcharge_amount_seg
0,60Z666,/MUZASDQUE,F,NaN,NaN,NaN,NaN,NaN,NaN,016037921MK/BXGE/,FD,CL,FI,IG,CAC,W,True,Y,W,XX,2075,2013-06-23,0.50,2015-05-03,49,LEUXXMM42,56495383.0,XX,LEU,42.338611,1.409167,ES,Europe,E,HK,Y,W,LEUXXMM42,56495383.0,M5,LEU,42.338611,1.409167,ES,Europe,E,MRV,44.21028,43.13528,RU,Europe,BRU,50.85045,4.34878,BE,Europe,2967.076044,BRU-MRV,Europe,XX,2075,I,0.00,NaN,NaN,42.00
1,612666,Z/MZFFUFGDGZQ,M,NaN,NaN,NaN,NaN,NaN,NaN,014452709MK/BXGE/,FD,CL,FI,IG,CAC,NaN,True,Y,O,XX,9160,2014-04-01,0.50,2016-03-23,6,LEUXXMM42,56495383.0,XX,LEU,42.338611,1.409167,ES,Europe,E,HK,Y,O,LEUXXMM42,56495383.0,44,LEU,42.338611,1.409167,ES,Europe,E,BRU,50.85045,4.34878,BE,Europe,LNZ,48.30639,14.28611,AT,Europe,769.535342,BRU-LNZ,Europe,XX,9160,I,74.99,NaN,NaN,39.12
2,818666,AZSRGZSIAZS/T,M,33.0,1983-05-02,P,39939WV44,TZO,TZO,NaN,NO,NO,NO,IG,CAC,W,True,Y,W,XX,30,2013-04-16,0.75,2015-04-02,12,HKGNLMM62,7005774.0,M5,HKG,22.285520,114.157690,HK,Asia,N,HK,Y,W,HKGNLMM62,7005774.0,M5,HKG,22.285520,114.157690,HK,Asia,N,BRU,50.85045,4.34878,BE,Europe,DEN,39.73915,-104.98470,US,North America,7830.866051,BRU-DEN,World,XX,30,I,146.12,NaN,NaN,114.10
3,827666,T/HUYMXMTGOTMUM,F,40.0,1976-10-12,P,5719T651,NaN,ZPU,013880457MK/BXGE/,FD,CL,FI,NaN,CAC,J,True,Y,R,XX,5765,2013-02-02,1.00,2014-11-10,82,TLLXXMM42,48450773.0,XX,TLL,59.436960,24.753530,EE,Europe,E,HK,Y,R,TLLXXMM42,48450773.0,M5,TLL,59.436960,24.753530,EE,Europe,E,BRU,50.85045,4.34878,BE,Europe,LIL,50.63297,3.05858,FR,Europe,93.950487,BRU-LIL,Europe,XX,5765,I,3.56,NaN,NaN,4.40
4,8PD666,YU/YUDVMMTHQZEMX,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NO,NO,NO,IG,CAC,NaN,True,Y,R,XX,1960,2013-10-25,0.25,2015-10-09,14,LEUXXMM42,56495383.0,XX,LEU,42.338611,1.409167,ES,Europe,E,HK,Y,R,LEUXXMM42,56495383.0,M5,LEU,42.338611,1.409167,ES,Europe,E,BRU,50.85045,4.34878,BE,Europe,MMX,55.54205,13.37200,SE,Europe,794.783408,BRU-MMX,Europe,XX,1960,I,39.50,NaN,NaN,42.00

In [42]:
marketing.shape

(1000, 66)

In [24]:
marketing.columns.tolist()

['rloc',
 'full_name',
 'gender',
 'age',
 'date_of_birth',
 'document_type',
 'document_number',
 'document_country',
 'nationality',
 'fqtv_data',
 'general_status',
 'boarding_status',
 'acceptance_status',
 'bag_status',
 'customer_accepted',
 'checkin_location',
 'boarded_in_all_legs_flag',
 'cabin_code',
 'booking_class_code',
 'airline_code',
 'flight_number',
 'departure_date_leg',
 'quality_index',
 'creation_date',
 'advance_purchase',
 'creator_office_id',
 'creator_iata_number',
 'creator_gds_code',
 'creator_city_code',
 'creator_lat',
 'creator_lon',
 'creator_country_code',
 'creator_continent_name',
 'creator_channel_code',
 'booking_status_code',
 'cabin_code_seg',
 'booking_class_code_seg',
 'pos_office_id',
 'pos_iata_number',
 'pos_gds_code',
 'pos_city_code',
 'pos_lat',
 'pos_lon',
 'pos_country_code',
 'pos_continent_code',
 'pos_channel_code',
 'board_point',
 'board_lat',
 'board_lon',
 'board_country_code',
 'board_continent_code',
 'off_point',
 'off_lat',
 'off_lon',
 'off_country_code',
 'off_continent_code',
 'distance_seg',
 'route',
 'network',
 'airline_code_seg',
 'flight_number_seg',
 'flight_type',
 'revenue_amount_seg',
 'emd_count',
 'emd_amount',
 'fuel_surcharge_amount_seg']

In [30]:
marketing.dtypes

rloc                          object
full_name                     object
gender                        object
age                          float64
date_of_birth                 object
document_type                 object
document_number               object
document_country              object
nationality                   object
fqtv_data                     object
general_status                object
boarding_status               object
acceptance_status             object
bag_status                    object
customer_accepted             object
checkin_location              object
boarded_in_all_legs_flag        bool
cabin_code                    object
booking_class_code            object
airline_code                  object
flight_number                  int64
departure_date_leg            object
quality_index                float64
creation_date                 object
advance_purchase               int64
creator_office_id             object
creator_iata_number          float64
creator_gds_code              object
creator_city_code             object
creator_lat                  float64
                              ...
booking_class_code_seg        object
pos_office_id                 object
pos_iata_number              float64
pos_gds_code                  object
pos_city_code                 object
pos_lat                      float64
pos_lon                      float64
pos_country_code              object
pos_continent_code            object
pos_channel_code              object
board_point                   object
board_lat                    float64
board_lon                    float64
board_country_code            object
board_continent_code          object
off_point                     object
off_lat                      float64
off_lon                      float64
off_country_code              object
off_continent_code            object
distance_seg                 float64
route                         object
network                       object
airline_code_seg              object
flight_number_seg              int64
flight_type                   object
revenue_amount_seg           float64
emd_count                    float64
emd_amount                   float64
fuel_surcharge_amount_seg    float64
dtype: object

### Problema 1: Segmentación por grupos de clientes: turistas, trabajo, familia, grupos, etc.
¿Cuantos grupos hay?  
¿Qué características tienen?  
¿Cómo es su comportamiento de compra? (antelación, etc) - 'advance_purchase' , 'emd_count', 'emd_amount'  
¿Cuál es el customer churn de cada grupo? (cuantos clientes se pierden)  
¿Qúe grupos van a crecer en los próximos meses?

* Nos ceñiremos solo en todos los clientes que tengan toda la información ('quality_index' = 1 )

In [35]:
marketing_qualitydata = marketing[marketing['quality_index'] == 1]

In [41]:
marketing_qualitydata.head()

,rloc,full_name,gender,age,date_of_birth,document_type,document_number,document_country,nationality,fqtv_data,general_status,boarding_status,acceptance_status,bag_status,customer_accepted,checkin_location,boarded_in_all_legs_flag,cabin_code,booking_class_code,airline_code,flight_number,departure_date_leg,quality_index,creation_date,advance_purchase,creator_office_id,creator_iata_number,creator_gds_code,creator_city_code,creator_lat,creator_lon,creator_country_code,creator_continent_name,creator_channel_code,booking_status_code,cabin_code_seg,booking_class_code_seg,pos_office_id,pos_iata_number,pos_gds_code,pos_city_code,pos_lat,pos_lon,pos_country_code,pos_continent_code,pos_channel_code,board_point,board_lat,board_lon,board_country_code,board_continent_code,off_point,off_lat,off_lon,off_country_code,off_continent_code,distance_seg,route,network,airline_code_seg,flight_number_seg,flight_type,revenue_amount_seg,emd_count,emd_amount,fuel_surcharge_amount_seg
3,827666,T/HUYMXMTGOTMUM,F,40.0,1976-10-12,P,5719T651,NaN,ZPU,013880457MK/BXGE/,FD,CL,FI,NaN,CAC,J,True,Y,R,XX,5765,2013-02-02,1.0,2014-11-10,82,TLLXXMM42,48450773.0,XX,TLL,59.436960,24.753530,EE,Europe,E,HK,Y,R,TLLXXMM42,48450773.0,M5,TLL,59.436960,24.753530,EE,Europe,E,BRU,50.85045,4.34878,BE,Europe,LIL,50.63297,3.058580,FR,Europe,93.950487,BRU-LIL,Europe,XX,5765,I,3.56,NaN,NaN,4.40
7,0QB666,VAZMFTMZBQSXQD/,M,51.0,1965-09-02,P,774512456,NDS,NDS,6;NM/SAXP/82896596;EC/CBBE/2137182291XT/S/6664...,FD,CL,FI,IG,CAC,J,True,J,C,XX,58,2014-04-01,1.0,2016-03-23,6,SINBS3665,70447674.0,M5,SIN,1.289670,103.850070,SG,Asia,T,HK,J,C,GVAMN5544,91462583.0,44,GVA,46.202220,6.145690,CH,Europe,A,BRU,50.85045,4.34878,BE,Europe,KTM,27.70169,85.320600,NP,Asia,7046.465882,BRU-KTM,World,XX,58,I,4782.52,NaN,NaN,244.43
38,TV9666,/EMDMEMXA,F,23.0,1993-01-27,NaN,NaN,NaN,UZR,7152593MK//02,FD,CL,FI,IG,CAC,K,True,Y,T,XX,31,2013-12-23,1.0,2015-07-14,160,NGOXXMM42,91465073.0,XX,NGO,35.181470,136.906410,JP,Asia,E,TK,Y,T,NGOXXMM42,91465073.0,M5,NGO,35.181470,136.906410,JP,Asia,E,BRU,50.85045,4.34878,BE,Europe,DQA,46.58333,125.000000,CN,Asia,7783.204541,BRU-DQA,World,XX,31,I,720.24,NaN,NaN,180.06
41,UWU666,/YMDUAEEU,F,35.0,1981-02-03,P,51685032,UZR,UZR,24;NM//24660924NM/NXGQ/246609,FD,CL,FI,IG,CAC,J,True,Y,R,XX,6769,2014-03-03,1.0,2016-01-11,49,LEUXXMM42,56495383.0,XX,LEU,42.338611,1.409167,ES,Europe,E,HK,Y,R,LEUXXMM42,56495383.0,44,LEU,42.338611,1.409167,ES,Europe,E,BRU,50.85045,4.34878,BE,Europe,CBG,52.20000,0.116670,GB,Europe,328.931874,BRU-CBG,Europe,XX,6769,I,6.41,NaN,NaN,27.41
50,ZTL666,Z/ZUZMZKEFQ,F,51.0,1964-12-21,NaN,NaN,NaN,UZR,12333223MK//MK0,FD,CL,FI,IG,CAC,W,True,Y,R,XX,732,2013-11-25,1.0,2015-11-07,16,LONXXMM42,21803583.0,XX,LON,51.500000,-0.166700,GB,Europe,E,HK,Y,R,LONXXMM42,21803583.0,M5,LON,51.500000,-0.166700,GB,Europe,E,BRU,50.85045,4.34878,BE,Europe,KBP,50.34500,30.894722,UA,Europe,1864.409218,BRU-KBP,Europe,XX,732,I,11.96,NaN,NaN,34.68

* Miro que porcentaje de registros han quedado:

In [43]:
marketing_qualitydata.shape

(130, 66)

* Ahora voy a buscar las columnas que me puedan ayudar a clusterizar el tipo de clientes:

In [47]:
marketing_qualitydata.groupby('rloc').count().sample(10)

,full_name,gender,age,date_of_birth,document_type,document_number,document_country,nationality,fqtv_data,general_status,boarding_status,acceptance_status,bag_status,customer_accepted,checkin_location,boarded_in_all_legs_flag,cabin_code,booking_class_code,airline_code,flight_number,departure_date_leg,quality_index,creation_date,advance_purchase,creator_office_id,creator_iata_number,creator_gds_code,creator_city_code,creator_lat,creator_lon,creator_country_code,creator_continent_name,creator_channel_code,booking_status_code,cabin_code_seg,booking_class_code_seg,pos_office_id,pos_iata_number,pos_gds_code,pos_city_code,pos_lat,pos_lon,pos_country_code,pos_continent_code,pos_channel_code,board_point,board_lat,board_lon,board_country_code,board_continent_code,off_point,off_lat,off_lon,off_country_code,off_continent_code,distance_seg,route,network,airline_code_seg,flight_number_seg,flight_type,revenue_amount_seg,emd_count,emd_amount,fuel_surcharge_amount_seg
rloc,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
CQH66M,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,1
A9T66Q,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,1
ZTL666,2,2,2,2,0,0,0,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,0,0,2
6SX662,1,1,1,1,1,1,0,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,1
UV966O,2,2,2,2,0,0,0,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,0,0,2
70Y66W,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,1
QEL667,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,1
1QR66Q,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,0,0,2
VQL66O,1,1,1,1,0,0,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,1
Q3A66S,1,1,1,1,0,0,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,1

In [48]:
marketing_qualitydata[marketing_qualitydata['rloc'] == 'ZTL666']

,rloc,full_name,gender,age,date_of_birth,document_type,document_number,document_country,nationality,fqtv_data,general_status,boarding_status,acceptance_status,bag_status,customer_accepted,checkin_location,boarded_in_all_legs_flag,cabin_code,booking_class_code,airline_code,flight_number,departure_date_leg,quality_index,creation_date,advance_purchase,creator_office_id,creator_iata_number,creator_gds_code,creator_city_code,creator_lat,creator_lon,creator_country_code,creator_continent_name,creator_channel_code,booking_status_code,cabin_code_seg,booking_class_code_seg,pos_office_id,pos_iata_number,pos_gds_code,pos_city_code,pos_lat,pos_lon,pos_country_code,pos_continent_code,pos_channel_code,board_point,board_lat,board_lon,board_country_code,board_continent_code,off_point,off_lat,off_lon,off_country_code,off_continent_code,distance_seg,route,network,airline_code_seg,flight_number_seg,flight_type,revenue_amount_seg,emd_count,emd_amount,fuel_surcharge_amount_seg
50,ZTL666,Z/ZUZMZKEFQ,F,51.0,1964-12-21,NaN,NaN,NaN,UZR,12333223MK//MK0,FD,CL,FI,IG,CAC,W,True,Y,R,XX,732,2013-11-25,1.0,2015-11-07,16,LONXXMM42,21803583.0,XX,LON,51.5,-0.1667,GB,Europe,E,HK,Y,R,LONXXMM42,21803583.0,M5,LON,51.5,-0.1667,GB,Europe,E,BRU,50.85045,4.348780,BE,Europe,KBP,50.34500,30.894722,UA,Europe,1864.409218,BRU-KBP,Europe,XX,732,I,11.96,NaN,NaN,34.68
51,ZTL666,Z/ZUZMZKEFQ,F,51.0,1964-12-21,NaN,NaN,NaN,UZR,12333223MK//MK0,NO,NO,NO,IG,CAC,W,True,Y,R,XX,762,2013-11-16,1.0,2015-11-07,7,LONXXMM42,21803583.0,XX,LON,51.5,-0.1667,GB,Europe,E,HK,Y,R,LONXXMM42,21803583.0,M5,LON,51.5,-0.1667,GB,Europe,E,KBP,50.34500,30.894722,UA,Europe,BRU,50.85045,4.348780,BE,Europe,1864.409218,BRU-KBP,Europe,XX,762,I,11.96,NaN,NaN,34.68

Cluseters que puedo ir haciendo:
a) Tienen numero fqtv vs no tienen
b) Grupos de edad
c) Grupos por nacionalidad
d) Vuelos internacionales vs vuelos nacionales
e) Hombres vs mujeres

De estos grupos analizaría:
a) Gasto medio
b) Periodo anticipacion en la compra
c) Tipo de cabina
d) Servicios adicionales contratados